/* Hero.css */

@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');

.hero {
  width: 100%;
  min-height: 100vh;
  background: url(../../assets/Design.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10%;
}

.content {
  font-family: "Joti One", serif;
  color: #fff;    
  max-width: 600px; 
  padding-left: 40px; 
}

.content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero-image img {
  width: 500px;
  max-width: 800px; 
  height: auto;
}
