.navbar {
  width: 100%;
  background: rgba(14, 23, 39, 0.9);
  color: var(--text-white); 
  padding: 8px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  font-family: 'Joti One', serif;
  transition: background-color 0.3s ease;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  height: 75px;
  width: 75px;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  color: white;
}

.nav-links li {
  margin: 0 20px;
  font-size: 16px;
  color: var(--text-white); /* Text color white */
}

.nav-links li:hover {
  color: var(--bg-primary-700);
}

.mobile-menu {
  display: none;
}

.mobile-menu-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.mobile-menu-button.open svg {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--bg-gray-900);
    flex-direction: column;
    align-items: center;
    display: none; /* Use display: none initially */
    transition: opacity 0.3s ease;
    opacity: 0; /* Default opacity */
    pointer-events: none; /* Default to disable pointer events */
    padding: 10px 0;
    color: white;
  }

  .nav-links.open {
    display: flex; /* Show menu when .open class is applied */
    opacity: 1;
    pointer-events: auto;
  }

  .nav-links li {
    margin: 15px 0;
    color: var(--text-white); /* Text color white */
  }

  .mobile-menu {
    display: block;
  }

  .mobile-menu-button {
    display: flex;
    align-items: center;
  }

  .mobile-menu-button[aria-expanded="true"] svg {
    transform: rotate(180deg);
  }
}
